.navbar {
  height: 50px;
  background-color: #8bbee8ff;
  display: flex;
  justify-content: center;
}

.navbar-container {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
}

.navbar-button {
  margin-left: 25px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  color: #8bbee8ff;
}
